
.tgv-fixed-all {
    position: fixed;
    top:0;
    z-index: 99999999;
}

.tgv-fixed-desktop {
    position: fixed;
    top:0;
    z-index: 99999999;
}

.tgv-sticky {
    position: fixed;
    right: 12px;
    bottom: 0;
    opacity:0;
    z-index: 999999999;
}

.tgv-outstream-close {
    position: relative;
    display: none;
}

.tgv-outstream-open {
    position: relative;
    display: block;
}

.tgv-btn-close {
    left: 4px;
    position: absolute;
    z-index: 99999999;
    background: #0000006b;
    color: white;
    /* right: 0px; */
    top: 4px;
    border-radius: 10%;
    width: 26px;
    /* width: 15px; */
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    /* font-family: 'Arial Black', Arial, sans-serif; */
    cursor: pointer;
	display:block;
}


@media screen and (min-width: 1120px) {
    .tgv-float-video-all.is-sticky {
        bottom: 0;
        right: 12px;
        transform: translate(100%, 100%);
    }
}
@media screen and (min-width: 1300px) {
    .tgv-float-video-all.is-sticky {
        bottom: 0;
        right: 12px;
        transform: translate(100%, 100%);
    }
}


@media only screen and (max-width: 600px) {
    .tgv-sticky {
        right: 0px;
        width: 100%;
        bottom: 3px;
    }

    .tgv-sticky div:first-child {
        /*margin: 0 auto;*/
    }

    .tgv-fixed-mobile {
        position: fixed;
        top:0;
        z-index: 99999999;
    }



}


.fw-in-container.fw-videostill {
    right: 0px !important;
    z-index: 9 !important;
}